/* line 10, mobile-custom.scss */
.container, #top-right, #top-section, #social-footer-1 {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 16, mobile-custom.scss */
.clearfix {
  clear: both;
}

/* line 20, mobile-custom.scss */
.webding {
  width: 16px;
  margin: 0 5px;
}

/* line 24, mobile-custom.scss */
.blue-link {
  color: #1d56a4;
}
/* line 27, mobile-custom.scss */
.blue-link a, .blue-link a:hover {
  color: #1d56a4;
}

/* line 32, mobile-custom.scss */
.red-link {
  color: #ad1917;
}
/* line 35, mobile-custom.scss */
.red-link a, .red-link a:hover {
  color: #ad1917;
}

/* line 40, mobile-custom.scss */
img {
  width: 100%;
  display: block;
  border: #000000 1px solid;
}

/* line 45, mobile-custom.scss */
.icon {
  width: 26px;
  border: none;
}

/* line 50, mobile-custom.scss */
.icon-rf-footer {
  width: 40px;
  border: none;
}

/* line 55, mobile-custom.scss */
.heading, .title {
  font-size: 24px;
}

/* line 59, mobile-custom.scss */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a5ea8+0,2c3666+100 */
  background: #3a5ea8;
  /* Old browsers */
  background: -moz-linear-gradient(left, #3a5ea8 0%, #2c3666 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3a5ea8 0%, #2c3666 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3a5ea8 0%, #2c3666 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5ea8', endColorstr='#2c3666',GradientType=1 );
  /* IE6-9 */
  border: black 0.25px solid;
  -webkit-box-shadow: -2px 2px 10px 0 #000000;
  box-shadow: -2px 2px 10px 0 #000000;
  -webkit-box-shadow: -2px 2px 10px 0 #000000;
  box-shadow: -2px 2px 10px 0 #000000;
}
/* line 83, mobile-custom.scss */
.heading .sm-link {
  display: block;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
}
/* line 91, mobile-custom.scss */
.heading .sm-link a, .heading .sm-link a:hover {
  color: #ffffff;
}
/* line 96, mobile-custom.scss */
.heading.overlap {
  z-index: 1000;
  position: relative;
}

/* line 103, mobile-custom.scss */
.overlap-img {
  margin-top: -10px;
}

/* line 107, mobile-custom.scss */
.margin-left {
  margin-left: 30px;
}

/* line 111, mobile-custom.scss */
.margin-right {
  margin-right: 30px;
}

/* line 115, mobile-custom.scss */
figcaption {
  margin: 10px 0 10px 0;
  font-size: 15px;
  line-height: 15px;
  color: #5f1818;
}

/* line 122, mobile-custom.scss */
.title {
  width: 100%;
  padding: 5px 0;
  margin: 10px 0 10px 10px;
  color: #21255b;
  border-bottom: #21255b 2px solid;
}

/* line 130, mobile-custom.scss */
article {
  font-size: 15px;
  line-height: 22px;
  margin: 5px 0 20px 10px;
}
/* line 135, mobile-custom.scss */
article h2 {
  font-size: 42px;
  color: #21255b;
}
/* line 140, mobile-custom.scss */
article span {
  color: #21255b;
}
/* line 144, mobile-custom.scss */
article figure {
  max-width: 450px;
}

/* line 150, mobile-custom.scss */
#top-bar {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #ffffff;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b5ea9+0,3b5ea9+83,2c3666+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b5ea9+0,3b5ea9+55,2c3666+100 */
  background: #3b5ea9;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #3b5ea9 0%, #3b5ea9 55%, #2c3666 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #3b5ea9 0%, #3b5ea9 55%, #2c3666 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #3b5ea9 0%, #3b5ea9 55%, #2c3666 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5ea9', endColorstr='#2c3666',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border-bottom: #000000 1px solid;
}

/* line 171, mobile-custom.scss */
#hidden-text {
  max-width: 1024px;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  color: #000000;
}
/* line 178, mobile-custom.scss */
#hidden-text a, #hidden-text a:hover {
  color: #000000;
}

/* line 183, mobile-custom.scss */
#page-info {
  max-width: 1024px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}
/* line 192, mobile-custom.scss */
#page-info p {
  width: 80%;
  text-align: left;
}
/* line 197, mobile-custom.scss */
#page-info figure {
  text-align: center;
}
/* line 200, mobile-custom.scss */
#page-info figure img {
  width: 61px;
  height: 37px;
}

/* line 208, mobile-custom.scss */
#wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
@media (max-width: 992px) {
  /* line 208, mobile-custom.scss */
  #wrapper {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/* line 218, mobile-custom.scss */
#wrapper #main-header {
  text-align: center;
  margin-bottom: 30px;
}
/* line 222, mobile-custom.scss */
#wrapper #main-header img {
  max-width: 967px;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 228, mobile-custom.scss */
#wrapper #main-header h1 {
  font-size: 22px;
  font-style: italic;
  color: #21255b;
}
/* line 235, mobile-custom.scss */
#wrapper #top-left {
  width: 325px;
  max-width: 325px;
  padding-right: 10px;
}
/* line 240, mobile-custom.scss */
#wrapper #top-left #edition-number {
  text-align: center;
  padding: 20px 0;
  font-size: 19px;
  color: #21255b;
}
/* line 246, mobile-custom.scss */
#wrapper #top-left #edition-number a, #wrapper #top-left #edition-number a:hover {
  color: #21255b;
}
/* line 250, mobile-custom.scss */
#wrapper #top-left #edition-number span {
  font-size: 24px;
}
/* line 255, mobile-custom.scss */
#wrapper #top-left #contents {
  padding: 10px 15px;
  background-color: #cebca5;
  color: #000000;
}
/* line 260, mobile-custom.scss */
#wrapper #top-left #contents a, #wrapper #top-left #contents a:hover {
  color: #000000;
  font-weight: bold;
}
/* line 265, mobile-custom.scss */
#wrapper #top-left #contents h3 {
  color: #5b2020;
  font-size: 24px;
}
/* line 270, mobile-custom.scss */
#wrapper #top-left #contents ul {
  padding-left: 0;
}
/* line 273, mobile-custom.scss */
#wrapper #top-left #contents ul li {
  list-style: none;
  padding: 6px 0;
  font-size: 16px;
  line-height: 18px;
}
/* line 279, mobile-custom.scss */
#wrapper #top-left #contents ul li:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background: url(../img/railpower_logo-icon.png) no-repeat;
  background-size: contain;
}
/* line 292, mobile-custom.scss */
#wrapper #top-left #contents-caption {
  text-align: center;
  padding: 20px 10px;
}
/* line 297, mobile-custom.scss */
#wrapper #top-left #info {
  padding: 10px 15px;
}
/* line 300, mobile-custom.scss */
#wrapper #top-left #info header {
  color: #21255b;
  font-size: 18px;
}
/* line 304, mobile-custom.scss */
#wrapper #top-left #info p {
  font-size: 14px;
}
/* line 310, mobile-custom.scss */
#wrapper #top-right {
  max-width: 70%;
  flex-grow: 1;
  padding-left: 15px;
}
/* line 317, mobile-custom.scss */
#wrapper #top-right #top-right-article-1 article {
  padding-right: 25px;
  color: #000000;
}
/* line 321, mobile-custom.scss */
#wrapper #top-right #top-right-article-1 article span {
  color: #21255b;
}
/* line 327, mobile-custom.scss */
#wrapper #top-right #top-right-article-2 article {
  color: #5b2020;
}
/* line 330, mobile-custom.scss */
#wrapper #top-right #top-right-article-2 figure {
  margin: 10px 0 10px 10px;
}
/* line 338, mobile-custom.scss */
#wrapper #middle-section .container-fluid {
  padding-right: 0;
  margin-right: -15px;
}
/* line 344, mobile-custom.scss */
#wrapper #social-footer-1 {
  padding: 0 5px;
  font-size: 15px;
  color: #21255b;
}
/* line 349, mobile-custom.scss */
#wrapper #social-footer-1 a, #wrapper #social-footer-1 a:hover {
  color: #21255b;
}
/* line 353, mobile-custom.scss */
#wrapper #social-footer-1 ul {
  flex-grow: 1;
}
/* line 356, mobile-custom.scss */
#wrapper #social-footer-1 ul li {
  list-style-type: none;
  display: inline-block;
}
/* line 361, mobile-custom.scss */
#wrapper #social-footer-1 ul.socials {
  display: inline-block;
  text-align: right;
}
/* line 365, mobile-custom.scss */
#wrapper #social-footer-1 ul.socials img {
  display: inline-block;
}
/* line 371, mobile-custom.scss */
#wrapper #social-footer-1 figure {
  flex-grow: 0;
}
